<!DOCTYPE html>
<html lang="en" dir=ltr">
    <head>
        <meta charset="utf-8">
        <title> Financial Viz</title>

        <!--CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>

        <!-- Load plotly.js into the DOM -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="#">Value-at-Risk Visualization</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <main role="main" class="container mt-5 md-5">

            <div class="container">
                <div class="row mt-5 md-5 text-danger" style="font-family:'Georgia';">
                    <h5 class="mt-4">DISCLAIMER: </h5>
                    <h6>
                        This web application is developed and provided for information and educational purposes only
                        and are not intended to provide specific advice or recommendations for any individual or on any
                        specific security or investment product. All results presented here are hypothetical and may not reflect
                        the actual growth of your own investments. While we have put in a lot of efforts to ensure that our
                        computations are accurate, we do not guarantee that this will be the case in all scenarios. We (The
                        "Financial Viz" team) are not responsible for any financial loss arising from any investment based on any
                        information provided here.
                    </h6>
                </div>
            </div>

            {% raw %}
            <div ng-app="frmApp" ng-controller="frmCtrl">
                <div class="row">
                    <div class="column mr-3">
                        <div class="border border-primary pt-5 mt-5">
                            <div class="row ml-4 mr-3 mb-3">
                                <button type="button" id="filter" class="btn btn-outline-primary" data-toggle="modal" data-target="#ModalScrollable">Filter: All</button>
                                <!--Modal-->
                                <div class="modal fade" id="ModalScrollable" tableindex="-1" role="dialog" aria-labelledby="ModalScrollableTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalScrollableTitle">Filter By:</h5>
                                                <button type="button"  id="closeModal" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row ml-3 mr-3 mb-2">
                                                    <div class="ml-3 mr-3">
                                                        <button id="sel_all" type="button" class="btn btn-primary" style="cursor:pointer;">All</button>
                                                    </div>
                                                    <div class="ml-3 mr-3">
                                                        <button id="sel_tech" type="button" class="btn btn-primary" style="cursor:pointer;">Technology</button>
                                                    </div>
                                                    <div class="ml-3 mr-3">
                                                        <button id="sel_comm" type="button" class="btn btn-primary" style="cursor:pointer;">Communication</button>
                                                    </div>
                                                </div>
                                                <div class="row ml-3 mr-3 mb-2">
                                                        <div class="ml-3 mr-3">
                                                            <button id="sel_healthcare" type="button" class="btn btn-primary" style="cursor:pointer;">Healthcare</button>
                                                        </div>
                                                        <div class="ml-3 mr-3">
                                                            <button id="sel_utilities" type="button" class="btn btn-primary" style="cursor:pointer;">Utilities</button>
                                                        </div>
                                                        <div class="ml-3 mr-3">
                                                            <button id="sel_industrials" type="button" class="btn btn-primary" style="cursor:pointer;">Industrials</button>
                                                        </div>
                                                </div>
                                                <div class="row ml-3 mr-3 mb-2">
                                                        <div class="ml-3 mr-3">
                                                            <button id="sel_concyclical" type="button" class="btn btn-primary" style="cursor:pointer;">Consumer Cyclical</button>
                                                        </div>
                                                        <div class="ml-3 mr-3">
                                                            <button id="sel_condefensive" type="button" class="btn btn-primary" style="cursor:pointer;">Consumer Defensive</button>
                                                        </div>
                                                </div>
                                                <div class="row ml-3 mr-3 mb-2">
                                                        <div class="ml-3 mr-3">
                                                            <button id="sel_financial" type="button" class="btn btn-primary" style="cursor:pointer;">Financial Services</button>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-3 mr-3">
                                <p class="ml-3 mb-3 mr-3"><strong> Select company: </strong></p>
                                <select id="universe" ng-model="tickerSelected" class="ml-3 mb-3 mr-3 " ng-init="tickerSelected= tickers[0]">
                                    <option ng-repeat="x in tickers">{{x}}</option>
                                </select>
                            </div>
                            <div class="row ml-3 mr-3 mb-3">
                                <p class="ml-3 mb-3 mr-5"><strong> Select unit(s): </strong></p>
                                <input type="number" id="unitAdded" ng-model="unit" class="input-group-sm" min="1" ng-init="unit-1">
                            </div>
                            <div class="row ml-3 mr-3 mb-3">
                                <p class="ml-3 mb-3 mr-5"><strong> Select position: </strong></p>
                                <input type="radio" id="Long" ng-model="myPosition" name="myPosition" value="Long">Long</input>
                                <input type="radio" id="Short" ng-model="myPosition" name="myPosition" value="Short">Short</input>
                            </div>
                            <div class="row ml-3 mr-3 mb-3">
                                <p class="ml-3 mb-3 mr-5"><strong> VaR computational method: </strong></p>
                                <p class="badge badge-success" style="cursor:pointer;">Historical</p>
                            </div>
                            <i id="addTicker" data-feather="plus-circle" class="ml-5 mr-3 mb-3" style="cursor:pointer;color:green;"></i>
                        </div>
                    </div>
                    <div class="column mt-5 ml-3">
                        <div id="flashMessage" class="row text-primary" style="display:none">
                            <p id="unitAdded" class="ml-1">Added {{unit}} unit(s) of: </p>
                            <p id="tickerSelected" class="ml-1"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column mr-3">
                        <div class="pt-5 mt-5 ml-5"></div>
                        <div class="row pt-2 mt-2 ml-5">
                            <table id="Port" class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">
                                            <i id="minusTickerMaster" data-feather="x-circle" style="cursor:pointer;color:red;"></i>
                                        </th>
                                        <th scope="col">Ticker</th>
                                        <th scope="col">Position</th>
                                        <th scope="col">Unit</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="column mt-3">
                        <div id="varChart"></div>
                    </div>
                </div>
                <div class="container mt-3">
                    <div class="row mt-3">
                        <div id="dateDisplay" class="ml-3" style="display:none;cursor:pointer;">
                            <h6>How this value is computed?</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div id="dataTable"></div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div id="returnDisplay" class="ml-3" style="display:none;cursor:pointer;">
                        <h6>The daily return of your portfolio in the last 100 days (sorted from lowest to highest)</h6>
                    </div>
                </div>
                <div class="row mt-3">
                    <div id="portReturnTable"></div>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div id="returnTableLower" style="overflow:auto"></div>
                    </div>
                    <div class="row">
                        <div id="returnLowerFormula"></div>
                    </div>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div id="returnTableUpper" style="overflow:auto"></div>
                    </div>
                    <div class="row">
                        <div id="returnUpperFormula"></div>
                    </div>
                </div>
                <div class="row">
                    <br><br>
                </div>
                <div class="row"></div>
            </div>

            {% endraw %}
        </main>

        <script>
            feather.replace();

            function plotGraph(){
                var allTick= $('.portRow').find("td:eq(1)");
                if (allTick.length==0){
                    $('#varChart').empty();
                    $('#dataTable').empty();
                    $('#dataDisplay').hide();
                    $('#returnDisplay').hide();
                    return
                };
                var tickerList= [];
                for (let i=0;i<allTick.length;i++){
                    tickerList.push(allTick[i].textContent);
                };
                //console.log(tickerList);

                var allPosition= $('.portRow').find("td:eq(2)");
                var positionList= [];
                for (let i=0;i<allPosition.length;i++){
                    positionList.push(allPosition[i].textContent);
                };

                var allUnit= $('.portRow').find("td:eq(3)");
                var unitList=[];
                for (let i=0; i<allUnit.length; i++){
                    unitList.push(allUnit[i].textContent);
                };

                var tickerDict={'ticker':tickerList, 'position':positionList, 'unit':unitList};
                //console.log(JSON.stringify(tickerDict));
                var tickerDictStr= JSON.stringify(tickerDict);
                feather.replace();
                $('#flashMessage').fadeIn('slow');
                $('#flashMessage').fadeOut('slow');
                $.ajax({
                    data:{
                        tickerDict:tickerDictStr
                        },
                    method: 'POST',
                    url: '/compute'
                })
                .done(function(data){
                    var jsonObj= JSON.parse(data.tickerDictQuery);
                    var returnQuery= data.returnQuery;
                    //console.log(jsonObj.ticker);
                    var minVal= Math.min.apply(Math,returnQuery);
                    var maxVal= Math.max.apply(Math,returnQuery);
                    var binSize= (maxVal- minVal)/99 ;
                    var varTitle= data.varTitle;
                    var startDate= data.startDate;
                    var endDate= data.endDate;
                    //console.log(returnQuery);
                    var tickerList= data.tickerList;
                    //console.log(tickerList);
                    var propList= data.propList;
                    var unitList= data.unitList;
                    var positionList= data.positionList;
                    var returnTitleList= data.returnTitleList;
                    var returnOutput= data.returnOutput;

                    //VaR Histogram
                    var trace={
                        x: returnQuery,
                        type: 'histogram',
                        xbins: {
                            start: minVal,
                            size: binSize,
                            end: maxVal
                        }
                    };
                    var data= [trace];

                    var layout={
                        xaxis: {title: "Daily return"},
                        yaxis: {title: "Number of days with this return"},
                        title: "<b> 1-Day 5% Value-at-Risk of Your Portfolio: " + varTitle + "</b> <br> " +
                                "<i> Distribution of Daily Portfolio Returns </i> <br> " +
                                "<i> Based on Data From " + startDate + " to " + endDate + "</i><br><br>"
                    };

                    Plotly.newPlot('varChart',data,layout);

                    //Ticker Table
                    var values=[
                        tickerList,
                        propList,
                        unitList,
                        positionList]

                    var data_2=[{
                        type:'table',
                        header:{
                            values:[["<b>Ticker</b>"], ["<b>Proportion</b>"],
                                    ["<b>Unit</b>"], ["<b>Position</b>"]],
                            align:["left","center"],
                            line:{width: 1, color: '#506784'},
                            fill:{color: '#119DFF'},
                            font:{family:'Arial', size:12, color:'white'}
                        },
                        cells:{
                            values: values,
                            align:["left","center"],
                            line:{width: 1, color: '#506784'},
                            fill:{color: ['#25FEEFD','white']},
                            font:{family:'Arial', size:11, color:['#506784']}
                        }
                    }]

                    Plotly.newPlot('dataTable',data_2);

                    //console.log(tickerList);
                    console.log(returnOutput);
                    var varIndex= returnOutput[0].length*0.05;
                    var varIndexLower= Math.floor(varIndex);
                    var varIndexUpper= varIndexLower + 1;
                    var upperLimit= returnOutput.length - 2;
                    var unitReturnListLower= [];
                    var unitReturnListUpper= [];
                    var colorListLower= [] ;
                    var colorListUpper= [] ;

                    for (let i=1;i<upperLimit;i++){
                        unitReturnListLower.push(returnOutput[i][varIndexLower-1]);
                        unitReturnListUpper.push(returnOutput[i][varIndexUpper-1]);
                    };

                    for (let i=0;i<unitReturnListLower.length;i++){
                        if (unitReturnListLower[i]<0){
                            colorListLower.push('rgb(235,67,52)');
                        } else {
                            colorListLower.push('rgb(52,235,125)');
                        }
                    };

                     for (let i=0;i<unitReturnListUpper.length;i++){
                        if (unitReturnListUpper[i]<0){
                            colorListUpper.push('rgb(235,67,52)');
                        } else {
                            colorListUpper.push('rgb(52,235,125)');
                        }
                    };

                    var trace_3={
                        x: tickerList,
                        y: unitReturnListLower,
                        text: unitReturnListLower.map((x)=>(x*100).toFixed(2)).map(String).map((x)=> x + '%'),
                        textposition: 'auto',
                        hoverinfo: 'none' ,
                        marker: {
                            color: colorListLower
                        },
                        type: 'bar'
                    };

                    var data_3= [trace_3];

                    var varDateLower= [returnOutput[0][varIndexLower-1]].map((dt)=>dt.substring(0,dt.length-13));

                    var layout_3={
                        title: '<b>Forth-worst Portfolip Return: ' + (returnOutput[upperLimit][varIndexLower-1]*100).toFixed(2) + ' % (' + varDateLower + ')</b>',
                        yaxis: {title: 'Daily price change, %',titlefont: {size:16}}
                    };

                    Plotly.newPlot('returnTableLower',data_3,layout_3);

                    var returnWord= unitReturnListLower.map((x)=>(x*100).toFixed(2)).map(String).map((x)=>x + '%');
                    var returnWordUpper= unitReturnListUpper.map((x)=>(x*100).toFixed(2)).map(String).map((x)=>x + '%');
                    var outputStr = "";
                    var outputStrUpper = "" ;
                    for (let i=0;i<propList.length;i++){
                        outputStr= outputStr + propList[i] + ' * ' + returnWord[i] + " + " ;
                        outputStrUpper= outputStrUpper + propList[i] + ' * ' + returnWordUpper[i] + " + " ;
                    };
                    outputStr= outputStr.substring(0,outputStr.length-3);
                    outputStrUpper= outputStrUpper.substring(0,outputStrUpper.length-3);
                    outputStr= outputStr + "= " + (returnOutput[upperLimit][varIndexLower - 1]*100).toFixed(2) + '%';
                    outputStrUpper= outputStrUpper + "= " + (returnOutput[upperLimit][varIndexUpper - 1]*100).toFixed(2) + '%';

                    //console.log(outputStr);
                    // $('#returnLowerFormula').text(outputStr);
                    //$('#returnUpperFormula').text(outputStrUpper);

                    var trace_5={
                        x: tickerList,
                        y: unitReturnListUpper,
                        text: unitReturnListUpper.map((x)=>(x*100).toFixed(2)).map(String).map((x)=>x + '%'),
                        textposition: 'auto' ,
                        hoverinfo: 'none',
                        marker:{
                            color: colorListUpper
                        },
                        type:'bar'
                    };

                    var data_5= [trace_5];

                    var varDateUpper= [returnOutput[0][varIndexUpper - 1]].map((dt)=>dt.substring(0,dt.length-13));

                    var layout_5={
                         title: '<b>Fifth-worst Portfolio Return: ' + (returnOutput[upperLimit][varIndexUpper-1]*100).toFixed(2) + '% (' + varDateUpper + ')</b>',
                         yaxis: {title: 'Daily price changes, %',titlefont:{size:16}}
                     };

                     Plotly.newPlot('returnTableUpper',data_5,layout_5);

                     //console.log(propList);

                     var data_4=[{
                        type: 'table',
                        columnwidth: Array(returnOutput.length).fill(250),
                        header:{
                            values:['Date','Portfolio Return'],
                            align:["left","center"],
                            line:{width: 1, color: '#506784'},
                            fill:{color:'#119DFF'},
                            font:{family:"Arial",size:12,color:"white"}
                        },
                        cells:{
                            values:[returnOutput[0].map((dt)=>dt.substring(0,dt.length-13)),returnOutput[upperLimit].map((x)=>(x*100).toFixed(4)).map(String).map((x)=>x + '%')],
                            align:["left","center"],
                            line:{color:'#506784', width: 1},
                            fill:{color: ['#25FEFD','white']},
                            font:{family:"Arial",size:11,color:["#506784"]}
                    }}];

                    var layout_4={width: 750};

                    Plotly.newPlot('portReturnTable',data_4,layout_4);

                    $('#dataDisplay').show();
                    $('#returnDisplay').show();

                })

            };

            function displayTable(){
                $('#dataTable').text('Table here')
            }

            $(document).ready(function(){
                $('#unitAdded').val("1");
                $('#Long').prop("checked",true);
                $('#tickerSelected').text($('#universe').find('option:selected').val());
            });

            $('#universe').change(function(){
                $('#tickerSelected').text($('#universe').find('option:selected').val());
            });

            var app= angular.module('frmApp',[]);
            app.controller('frmCtrl',function($scope){
                $scope.debugger= "started";
                console.log($scope.debugger);
                $scope.tickers= {{tickerList|safe}};
            });
            $('#addTicker').mouseenter(
                function(){
                    $(this).css('color','blue');
                }
            );
            $('#addTicker').mouseleave(
                function(){
                    $(this).css('color','green');
                }
            );
            $('#addTicker').click(function(){
                //console.log($('#unitAdded').val());
                var unitAdded=$('#unitAdded').val();
                if (!unitAdded){
                    alert ('Please fill in all required fields!')
                };

                var pos= $("input[type='radio']:checked").val();

                $('#Port tbody').after('<tr class="portRow" style><td class="DeleteButton">' + '<i id="minusTicker" data-feather="minus-circle" style="cursor:pointer;color:red;"></i>' + '</td><td>' + $('#tickerSelected').text() + '</td><td>' + pos + '</td><td>' + $('#unitAdded').val() + '</td></tr>');
                plotGraph();
            });
            $('#portRow').mouseenter(
                function(){
                    $(this).css('background','yellow');
                });
                $('#Port').on('click','.DeleteButton',function(){
                    var deletedRow= $(this).closest('tr').find('td');
                    //console.log($(this).closest('tr').find('td').length);
                    $(this).closest('tr').remove();
                    plotGraph();
                });
                $('#minusTickerMaster').mouseenter(
                    function(){
                        $(this).css('color','blue');
                    }
                );
                $('#minusTickerMaster').mouseleave(
                    function(){
                        $(this).css('color','red');
                    }
                );
                $('#minusTickerMaster').click(function(){
                    //console.log('clicked');
                    $('.portRow').empty();
                    $('#varChart').empty();
                    $('#dataDisplay').hide();
                    $('#returnDisplay').hide();
                    $('#dataTable').empty();
                    $('#returnTableLower').empty();
                    $('#portReturnTable').empty();
                    $('#returnLowerFormula').empty();
                    $('#returnUpperFormula').empty();
                    $('#returnTableUpper').empty();
                });
                $('#sel_all').click(function(){
                    //console.log('ALL selected');
                    $('#closeModal').click();
                    $('#filter').text('Filter: All');
                    $('#universe').empty();

                    var tickerList= {{tickerList|safe}};
                    for (let i=0;i<tickerList.length;i++){
                        var optionList= '<option ng-repeat="x in tickers" class="ng-binding ng-scope" value="' + tickerList[i] + '">' + tickerList[i] + '</option>'
                        $('#universe').append(optionList);
                    };
                });

                $('#sel_tech').click(function(event){
                    //console.log('Technology selected');
                    $('#closeModal').click();
                    $('#filter').text('Filter: Technology');
                    $.ajax({
                        data:{
                            filter: 'Technology'
                        },
                        method: 'POST' ,
                        url: '/process'
                    })
                    .done(function(data){
                        var filteredList= data.filteredList[0].split(',');
                        $('#universe').empty();
                        for (let i=0;i<filteredList.length;i++){
                            if (i==0){
                                var optionList= '<option ng-repeat="x in tickers" class="ng-binding ng-scope value="' + filteredList[i] + '" selected="selected">' + filteredList[i] + '</option>'
                            }else{
                                var optionList= '<option ng-repeat="x in tickers" class="ng-binding ng-scope value="' + filteredList[i] + '">' + filteredList[i] + '</option>'
                            }
                            $('#universe').append(optionList);
                        };

                        $('#tickerSelected').text(filteredList[0]);
                    })
                        event.preventDefault();
                })

                $('#sel_comm').click(function(event){
                    //console.log('Communication selected');
                    $('#closeModal').click();
                    $('#filter').text('Filter: Communication');
                    $.ajax({
                        data:{
                            filter: 'Communication'
                        },
                        method: 'POST' ,
                        url: '/process'
                    })
                    .done(function(data){
                        var filteredList= data.filteredList[0].split(',');
                        $('#universe').empty();
                        for (let i=0;i<filteredList.length;i++){
                                var optionList= '<option ng-repeat="x in tickers" class="ng-binding ng-scope value="' + filteredList[i] + '">' + filteredList[i] + '</option>'
                                $('#universe').append(optionList);
                        };
                        $('#tickerSelected').text(filteredList[0]);
                    })
                        event.preventDefault();
                })

                $('#sel_healthcare').click(function(event){
                    //console.log('Healthcare selected');
                    $('#closeModal').click();
                    $('#filter').text('Filter: Healthcare');
                    $.ajax({
                        data:{
                            filter: 'Healthcare'
                        },
                        method: 'POST' ,
                        url: '/process'
                    })
                    .done(function(data){
                        var filteredList= data.filteredList[0].split(',');
                        $('#universe').empty();
                        for (let i=0;i<filteredList.length;i++){
                            var optionList= '<option ng-repeat="x in tickers" class="ng-binding ng-scope value="' + filteredList[i] + '">' + filteredList[i] + '</option>'
                            $('#universe').append(optionList);
                        };
                        $('#tickerSelected').text(filteredList[0]);
                    })
                        event.preventDefault();
                })

                $('#sel_concyclical').click(function(event){
                    //console.log('Consumer Cyclical selected');
                    $('#closeModal').click();
                    $('#filter').text('Filter: Consumer Cyclical');
                    $.ajax({
                        data:{
                            filter: 'Consumer Cyclical'
                        },
                        method: 'POST' ,
                        url: '/process'
                    })
                    .done(function(data){
                        var filteredList= data.filteredList[0].split(',');
                        $('#universe').empty();
                        for (let i=0;i<filteredList.length;i++){
                            var optionList= '<option ng-repeat="x in tickers" class="ng-binding ng-scope value="' + filteredList[i] + '">' + filteredList[i] + '</option>'
                            $('#universe').append(optionList);
                        };
                        $('#tickerSelected').text(filteredList[0]);
                    })
                        event.preventDefault();
                })

                $('#sel_industrials').click(function(event){
                    //console.log('Industrials selected');
                    $('#closeModal').click();
                    $('#filter').text('Filter: Industrials');
                    $.ajax({
                        data:{
                            filter: 'Industrials'
                        },
                        method: 'POST' ,
                        url: '/process'
                    })
                    .done(function(data){
                        var filteredList= data.filteredList[0].split(',');
                        $('#universe').empty();
                        for (let i=0;i<filteredList.length;i++){
                            var optionList= '<option ng-repeat="x in tickers" class="ng-binding ng-scope value="' + filteredList[i] + '">' + filteredList[i] + '</option>'
                            $('#universe').append(optionList);
                        };
                        $('#tickerSelected').text(filteredList[0]);
                    })
                        event.preventDefault();
                })

                $('#sel_condefensive').click(function(event){
                    //console.log('Consumer Defensive selected');
                    $('#closeModal').click();
                    $('#filter').text('Filter: Consumer Defensive');
                    $.ajax({
                        data:{
                            filter: 'Consumer Defensive'
                        },
                        method: 'POST' ,
                        url: '/process'
                    })
                    .done(function(data){
                        var filteredList= data.filteredList[0].split(',');
                        $('#universe').empty();
                        for (let i=0;i<filteredList.length;i++){
                            var optionList= '<option ng-repeat="x in tickers" class="ng-binding ng-scope value="' + filteredList[i] + '">' + filteredList[i] + '</option>'
                            $('#universe').append(optionList);
                        };
                        $('#tickerSelected').text(filteredList[0]);
                    })
                        event.preventDefault();
                })

                $('#sel_utilities').click(function(event){
                    //console.log('Utilities selected');
                    $('#closeModal').click();
                    $('#filter').text('Filter: Utilities');
                    $.ajax({
                        data:{
                            filter: 'Utilities'
                        },
                        method: 'POST' ,
                        url: '/process'
                    })
                    .done(function(data){
                        var filteredList= data.filteredList[0].split(',');
                        $('#universe').empty();
                        for (let i=0;i<filteredList.length;i++){
                            var optionList= '<option ng-repeat="x in tickers" class="ng-binding ng-scope value="' + filteredList[i] + '">' + filteredList[i] + '</option>'
                            $('#universe').append(optionList);
                        };
                        $('#tickerSelected').text(filteredList[0]);
                    })
                        event.preventDefault();
                })

                $('#sel_financial').click(function(event){
                    //console.log('Financial Services selected');
                    $('#closeModal').click();
                    $('#filter').text('Filter: Financial Services');
                    $.ajax({
                        data:{
                            filter: 'Financial Services'
                        },
                        method: 'POST' ,
                        url: '/process'
                    })
                    .done(function(data){
                        var filteredList= data.filteredList[0].split(',');
                        $('#universe').empty();
                        for (let i=0;i<filteredList.length;i++){
                            var optionList= '<option ng-repeat="x in tickers" class="ng-binding ng-scope value="' + filteredList[i] + '">' + filteredList[i] + '</option>'
                            $('#universe').append(optionList);
                        };
                        $('#tickerSelected').text(filteredList[0]);
                    })
                        event.preventDefault();
                })


        </script>
    </body>
</html>