<!DOCTYPE html>
<html lang="en" dir=ltr">
    <head>
        <meta charset="utf-8">

        <!--CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>

        <!-- Load plotly.js into the DOM -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="#">Value-at-Risk Visualization</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <main role="main" class="container mt-5 md-5">

            <div class="container">
                <div class="row mt-5 md-5 text-danger" style="font-family:'Georgia';">
                    <h5 class="mt-4">DISCLAIMER: </h5>
                    <h6>
                        This web application is developed and provided for information and educational purposes only
                        and are not intended to provide specific advice or recommendations for any individual or on any
                        specific security or investment product. All results presented here are hypothetical and may not reflect
                        the actual growth of your own investments. While we have put in a lot of efforts to ensure that our
                        computations are accurate, we do not guarantee that this will be the case in all scenarios. We (The
                        "Financial Viz" team) are not responsible for any financial loss arising from any investment based on any
                        information provided here.
                    </h6>
                </div>
            </div>

            {% raw %}
            <div ng-app="frmApp" ng-controller="frmCtrl">
                <div class="row">
                    <div class="column mr-3">
                        <div class="border border-primary pt-5 mt-5">
                            <div class="row ml-4 mr-3 mb-3">
                                <button type="button" id="filter" class="btn btn-outline-primary" data-toggle="modal" data-target="#ModalScrollable">Filter: All</button>
                                <!--Modal-->
                                <div class="modal fade" id="ModalScrollable" tableindex="-1" role="dialog" aria-labelledby="ModalScrollableTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalScrollableTitle">Filter By:</h5>
                                                <button type="button"  id="closeModal" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row ml-3 mr-3 mb-2">
                                                    <div class="ml-3 mr-3">
                                                        <button id="sel_all" type="button" class="btn btn-primary" style="cursor:pointer;">All</button>
                                                    </div>
                                                    <div class="ml-3 mr-3">
                                                        <button id="sel_tech" type="button" class="btn btn-primary" style="cursor:pointer;">Technology</button>
                                                    </div>
                                                    <div class="ml-3 mr-3">
                                                        <button id="sel_comm" type="button" class="btn btn-primary" style="cursor:pointer;">Communication</button>
                                                    </div>
                                                </div>
                                                <div class="row ml-3 mr-3 mb-2">
                                                        <div class="ml-3 mr-3">
                                                            <button id="sel_healthcare" type="button" class="btn btn-primary" style="cursor:pointer;">Healthcare</button>
                                                        </div>
                                                        <div class="ml-3 mr-3">
                                                            <button id="sel_utilities" type="button" class="btn btn-primary" style="cursor:pointer;">Utilities</button>
                                                        </div>
                                                        <div class="ml-3 mr-3">
                                                            <button id="sel_industrials" type="button" class="btn btn-primary" style="cursor:pointer;">Industrials</button>
                                                        </div>
                                                </div>
                                                <div class="row ml-3 mr-3 mb-2">
                                                        <div class="ml-3 mr-3">
                                                            <button id="sel_concyclical" type="button" class="btn btn-primary" style="cursor:pointer;">Consumer Cyclical</button>
                                                        </div>
                                                        <div class="ml-3 mr-3">
                                                            <button id="sel_condefensive" type="button" class="btn btn-primary" style="cursor:pointer;">Consumer Defensive</button>
                                                        </div>
                                                </div>
                                                <div class="row ml-3 mr-3 mb-2">
                                                        <div class="ml-3 mr-3">
                                                            <button id="sel_financial" type="button" class="btn btn-primary" style="cursor:pointer;">Financial Services</button>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-3 mr-3">
                                <p class="ml-3 mb-3 mr-3"><strong> Select company: </strong></p>
                                <select id="universe" ng-model="tickerSelected" class="ml-3 mb-3 mr-3" ng-init="tickerSelected= tickers[0]">
                                    <option ng-repeat="x in tickers">{{x}}</option>
                                </select>
                            </div>
                            <div class="row ml-3 mr-3 mb-3">
                                <p class="ml-3 mb-3 mr-5"><strong> Select unit(s): </strong></p>
                                <input type="number" id="unitAdded" ng-model="unit" class="input-group-sm" min="1" ng-init="unit-1">
                            </div>
                            <div class="row ml-3 mr-3 mb-3">
                                <p class="ml-3 mb-3 mr-5"><strong> Select position: </strong></p>
                                <input type="radio" id="Long" ng-model="myPosition" name="myPosition" value="Long">Long</input>
                                <input type="radio" id="Short" ng-model="myPosition" name="myPosition" value="Short">Short</input>
                            </div>
                            <div class="row ml-3 mr-3 mb-3">
                                <p class="ml-3 mb-3 mr-5"><strong> VaR computational method: </strong></p>
                                <p class="badge badge-success" style="cursor:pointer;">Historical</p>
                            </div>
                            <i id="addTicker" data-feather="plus-circle" class="ml-5 mr-3 mb-3" style="cursor:pointer;color:green;"></i>
                        </div>
                    </div>
                    <div class="column mt-5 ml-3">
                        <div id="flashMessage" class="row text-primary" style="display:none">
                            <p id="unitAdded" class="ml-1">Added {{unit}} unit(s) of: </p>
                            <p id="tickerSelected" class="ml-1"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column mr-3">
                        <div class="pt-5 mt-5 ml-5"></div>
                        <div class="row pt-2 mt-2 ml-5">
                            <table id="Port" class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">
                                            <i id="minusTickerMaster" data-feather="x-circle" style="cursor:pointer;color:red;"></i>
                                        </th>
                                        <th scope="col">Ticker</th>
                                        <th scope="col">Position</th>
                                        <th scope="col">Unit</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="column mt-3">
                        <div id="varChart"></div>
                    </div>
                </div>
                <div class="container mt-3">
                    <div class="row mt-3">
                        <div id="dateDisplay" class="ml-3" style="display:none;cursor:pointer;">
                            <h6>How this value is computed?</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div id="dataTable"></div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div id="returnDisplay" class="ml-3" style="display:none;cursor:pointer;">
                        <h6>The daily return of your portfolio in the last 100 days (sorted from lowest to highest)</h6>
                    </div>
                </div>
                <div class="row mt-3">
                    <div id="portReturnTable"></div>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div id="returnTableLower" style="overflow:auto"></div>
                    </div>
                    <div class="row">
                        <div id="returnLowerFormula"></div>
                    </div>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div id="returnTableUpper" style="overflow:auto"></div>
                    </div>
                    <div class="row">
                        <div id="returnUpperFormula"></div>
                    </div>
                </div>
                <div class="row">
                    <br><br>
                </div>
                <div class="row"></div>
            </div>

            {% endraw %}
        </main>

        </main>


    </body>



</html>